<h1>Get your popcorns ready, it's movie time!</h1>


<form action="/auth/register" method="POST" enctype="multipart/form-data">
    <label for="name">Name: </label>
    <br/>
    <input type="text" name="name" minlength="3" maxlength="50" required>
    <br/>
    <label for="username">Username:</label>
    <br/>
    <input type="text" name="username" minlength="3" maxlength="10" required>       
    <br/>
    <label for="email">Email:</label>
    <br/>
    <input type="email" name="email" id="email" required>
    <br/>
    <label for="password">Password:</label>
    <br/>
    <input type="password" name="password" id="password" required>
    <br/>
    <label for="Avatar">Profile Picture:</label>
    <br/>
    <input type="file" name="avatarUrl" id="avatarUrl">
    <br/>
    <label for="favoriteMovie">What's your favorite movie ?</label>
    <br/>
    <input type="text" name="favoriteMovie" id="favoriteMovie" required>
    <br/>
    <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}