<footer class="footer footer-padding">
  <section class="section">
    <div class="container">
        <a class="logo-footer" href="/">
            <img src="/images/logo-big.png" alt="popcorn logo">
        </a>
        <div class="social-media">
            <a class="social-link" target="_blank" href="htttp://www.facebook.com"><img src="/images/facebook.png" alt="follow us on Facebook"></a>
            <a class="social-link" target="_blank" href="htttp://www.twitter.com"><img src="/images/twitter.png" alt="follow us on Twitter"></a>
            <a class="social-link" target="_blank" href="htttp://www.Instagram.com"><img src="/images/Instagram.png" alt="follow us on Instagram"></a>
            <a class="social-link" target="_blank" href="htttp://www.google.com"><img src="/images/google.png" alt="reach us on Google"></a>  
        </div>
        <div class="content has-text-right footer-copy">
            <p>
                <bold>Popcorn</bold> by <a class="link" target="_blank" href="https://www.linkedin.com/in/catarina-resende/">Catarina Resende</a> & <a class="link" target="_blank" href="https://www.linkedin.com/in/juan-diego-mena-rojas-b36bb5139/">Juandi Mena</a><br /> POWERED BY "TheMovieDB"
            </p>
    
        </div>      
    </div>
  </section>
</footer>