<footer class="footer footer-padding">
  <section class="section">
    <div class="container link link:hover">
        <div class="logo-footer">
            <img src="/images/logo-big.png" alt="popcorn logo">
        </div>
    
        <div class="image mr-3 is-24x24 is-flex flex-direction-row">
            <img src="/images/facebook.png" alt="follow us on Facebook">
            <img src="/images/twitter.png" alt="follow us on Twitter">
            <img src="/images/Instagram.png" alt="follow us on Instagram">
            <img src="/images/google.png" alt="reach us on Google">
        </div>
                <div class="content has-text-right">
                    <p>
                    <bold>Popcorn</bold> by <a href="">Catarina Resende</a> & <a href="">Juandi Mena</a>. POWERED BY "TheMovieDB".
                    </p>
        
                </div>      
            </div>
  </section>
</footer>