<header class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/popcorn-nav-logo.png" width="100%">
      </a>
      <span class="navbar-burger" data-target="navbarHeader">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarHeader" class="navbar-menu">
      <div class="navbar-start">
        <form class="navbar-item popcorn-search-form control" action="/movies/search/1" autocomplete="off" method="POST">
          <div class="field">
            <p class="control is-small has-icons-right">
              <input class="input is-small" type="text" name="search" required minlength="1" placeholder="Search movie">
              <button class="btn-search-magnify icon is-small is-right" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </p>
          </div>
        </form>
        
        
      </div>

      <div class="navbar-end">
        <a class="navbar-item link"  href="/">
          Home
        </a>

        <a class="navbar-item mr-6 link"  href="/about-us">
          About Us
        </a>

        {{#if user}} 
          <div class="navbar-item ml-6">
            <a class="profile-link" href="/user/profile">
              <img class="profile-pic-nave" src="{{user.avatarUrl}}"/>
              {{user.name}}
            </a>
          </div>
          <div class="navbar-item">
              <a class=" btn-purple" href="/auth/logout">Logout</a>
          </div>
  
          {{else}}
          <div class="navbar-item ml-6">
              <a class="btn-purple "href="/auth/register">Sign up</a>
              <a class="btn-green ml-4" href="/auth/login">Login</a>
          </div>
        {{/if}}
      </div>

    </div>
  </nav>
</header>