<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{foo}}
    {{{body}}}
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
