@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css";

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font: "Roboto";
  background-color: #3d3d3d;
  color: white;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.header {
  background: linear-gradient(90deg, rgba(83, 29, 171, 0.8) 0%, rgba(49, 186, 162, 0.512) 100%);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar {
  background: transparent;
}

.navbar .navbar-start {
  flex-grow: 1;
}

.navbar-item {
  color: white;

}

.btn-search-magnify {
  border: 0;
  background: transparent;
  pointer-events: all !important;
  cursor: pointer;
  color: #858585 !important;

}

.profile-link {
  list-style: none;
  color: #fafafa;
  font-size: 14px;
  transition: 0.3 ease;
}

.profile-link:hover {
  color: #3d3d3d;
  
}

.profile-pic-nave {
  border-radius: 50%;
  margin-right: 10px;
}

.btn-logout  {
  background: #531DAB !important;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  padding: 0 6px !important;
  color: #fafafa !important;
  font-size: 14px;
  transition: 1 ease-in-out;
}

.btn-register {
  background: #531DAB !important;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  padding: 0 6px !important;
  color: #fafafa !important;
  font-size: 14px;
  transition: 1 ease-in-out;
}

.btn-logout:hover {
  color: #3d3d3d !important;
  background-color: #fafafa !important;
}

.btn-register:hover {
  color: #3d3d3d !important;
  background-color: #fafafa !important;
}

.slider-pagination {
  display: none;
}

.slider-navigation-previous,
.slider-navigation-next {
  color: #3d3d3d;
  border-radius: 0;
  width: 32px;
  height: 32px;
  transform: none;
}

.slider-navigation-previous {
  margin-left: 5px;
}

.slider-navigation-next {
  margin-right: 5px;
}


.slider {
  overflow: hidden;
}

.popcorn-search-form .field {
  width: 100%;
}

.popcorn-search-form {
  width: 100%;
  max-width: 500px;

}

.item {
  padding: 0 5px;
}

.footer {
  background: linear-gradient(90deg, rgba(83, 29, 171, 0.8) 0%, rgba(49, 186, 162, 0.512) 100%);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 3;
  color: white !important;
  padding: 1.5rem
}

.footer a{
  style: none !important;
  ;
}



/* ------------------------------------------------
  User profile
------------------------------------------------ */

.user-image img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.btn-remove-watchlist-profile {
  background: #26B79D;
  /* drop-shadow / button-primary */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  color: white;
  border: none;
  padding: 5px;
  opacity: 0.8;
  transition: 0.3 ease;
}

.btn-remove-watchlist-profile:hover{
  opacity: 1;
}

.remove-from-list-profile {
  position: absolute;
  bottom: 20px;
  left: 5px;
}




/* ------------------------------------------------
movie search list
------------------------------------------------ */


.image-poster-list {
  max-width: 150px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-width: 400px;
  font-size: 0.9rem;
  margin-top: 20px;
}

.movie-title-search {
  list-style: none;
  color: white;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.movie-title-search:hover {
  color: #B8B8B8;
}

.search-list-view {
  border-top: 1px solid #B8B8B8;
}

/* ------------------------------------------------
  Each movie & details
------------------------------------------------ */
.cover-hero {
  width: 100%;
  height: 560px;
  background-size: cover;
}

.genre-tag {
  background: #26B79D;
  border-radius: 0px 8px;
  padding: 4px 8px;
  font-size: 12px;
  color: black;

}

.movie-information {
  max-width: 1000px;
}


.movie-description {
  padding-top: 30px;
}

.toggle-watchlist {
  padding-top: 50px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: transparent;
  text-align: center;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  position: center;
}

.title {
  color: white;
  font-size: small;
  
}

.poster-img {
  display: flex;
  justify-content: center;
}

.team-content {
  text-align: left;
  padding-left: 15px;
}

.link {
  color: #fafafa;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #b8b8b8;
}

.card-cast {
 padding: 0;
}

.cast-title {
  margin-bottom: 40px;
}

.title-recomendation {
  margin-bottom: 40px;
}

.review-input {
  max-width: 500px;
}

.review-text-area {
  margin-bottom: 20px;
}

.display-reviews {
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 700px;
  width: 100%;
}

.review-wrapper {
  padding: 20px 0;
}

.review-picture {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  margin-right: 20px;
  display: block !important;
}

.review-picture img {
  width: 100% !important;
  background: 100% !important;
}


.review-size-picture {
  object-fit: cover;
  overflow: hidden;
}

.username-review {
  font-size: 1rem !important;
}

.review-comment {
  font-size: 0.8rem !important;
}

.btn-remove-review {
  background: none;
  border: 0;
}