<section class="section cover-hero-about" >
    <div class="container is-size-1">
    <h1>ABOUT US</h1>
    </div>
</section>
<section class="section">
    <div class="container">
<ul>
    <div class="container is-size-3 mb-3">
    <li>WEV DEVELOPERS</li>
    </div>
    <div class="container is-size-4 mb-6">
    <p class="container pl-6">Catarina Resende & Juandi Mena</p>
    </div>
    <div class="container is-size-5 mb-6">
    <li>UX/UI</li>
    <p class="container is-size-5 pl-6">Tatjana Pfennig, Ruth Gill, Marianna Ostrowska, Karolina DoHuu, Emma Voux, Carolina Teixeira</p>
    </div>
    <div class="container is-size-5 mb-6">
    <li>INSTRUCTORS</li>
    <p class="container pl-6">Marco Satonastasi & Yanis Dimitropoulos</p>
    </div>
</ul>
    </div>
</section>
