<section class="section cover-hero-about has-text-centered" >
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="is-size-1">ABOUT US</h1>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="container is-size-6 mb-6 column is-8">
            <div class="container is-size-4 mb-3">
                <h3>Hi, welcome to Popcorn!</h3>
            </div>
            <p class="container ">Popcorn is project developed by Catarina Resende and Juandi Mena. Our main goal is to show off our new skills as web-developers, and to create an app where you can use to keep up updated to the movie world. The UX/UI concept was given by Emma Vaux, Caterina Cabezón & Marianna Ostrowska.</p>
        </div>
        
    
    </div>
</section>
